# Блок для нейросети (на всякий случай, если будете юзать напрямую)
weebx.duckdns.org {
    header {
        -Access-Control-Allow-Origin
        Access-Control-Allow-Origin "https://nodum-teach.github.io"
    }
    reverse_proxy 198.18.0.1:1236
}

# Основной блок для бэкенда
nhost.weebx.duckdns.org {
    header {
        -Access-Control-Allow-Origin
        Access-Control-Allow-Origin "https://nodum-teach.github.io"
        Access-Control-Allow-Methods "GET, POST, OPTIONS"
        Access-Control-Allow-Headers "Content-Type, Authorization, x-hasura-role"
    }
    
    # Обработка OPTIONS, чтобы браузер не ругался
    @options {
        method OPTIONS
    }
    handle @options {
        respond 204
    }

    reverse_proxy localhost:1337
}