{
    auto_https off
}

:80 {
    header {
        Access-Control-Allow-Origin "https://nodum-teach.github.io"
        Access-Control-Allow-Methods "GET, POST, OPTIONS"
        Access-Control-Allow-Headers "Content-Type, Authorization, x-hasura-role"
        Access-Control-Allow-Credentials "true"
    }

    @options {
        method OPTIONS
    }
    handle @options {
        respond 204
    }

    # Strip /v1 prefix and proxy to functions service
    handle_path /v1/* {
        reverse_proxy 127.0.0.1:3000
    }
}

# Блок для LM Studio тоже лучше поправить на 127.0.0.1
weebx.duckdns.org {
    header {
        -Access-Control-Allow-Origin
        Access-Control-Allow-Origin "https://nodum-teach.github.io"
    }
    reverse_proxy 127.0.0.1:1236
}